@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap');

body {

    --main-background-color: #211e1e;
    --main--text-color: #fff;
    background-color: var(--main-background-color);
    color: var(--main--text-color);
    --form-bg-color: rgb(46, 46, 53);
    font-family: 'Roboto', sans-serif;
    --film-card-background: rgb(43, 40, 40);

}

.margin-top {
    margin-top: 5em;
}